.container-fluid {
	margin: 0;
	padding: 0;
}

body {
	width: 100%;
	height: auto;
	font-family: 'Poiret One', Helvetica, cursive;
	color: #000;
	margin: 0;
	padding: 0;
	overflow-x: hidden;
	animation: myfadeInAnimation 1s;
}

@keyframe myfadeInAnimation {
    from {opacity: 0;}
    to {opacity: 1;}
}
@-webkit-keyframes myfadeInAnimation {
    from {opacity: 0;}
    to {opacity: 1;}
}

/* ==============================HEADER==============================*/
#header {	
	width: 100%;
	height: 325px;
	border-bottom: 1px solid black;
	border-top: 1px solid black;
	background: url('../images/computerpineapple.jpg') no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover; 
    background-size: cover;
	color: #fff;
	margin: 0;
}	
/*===============================NAVIGATION========================*/
#nav {
	width: 100%;
	text-align: center;
	height: 50px;
	font-weight: bolder;
	margin: 0;
}

#menu {
	width: 100%;
	text-align: center;
}

#menu li {
	display: inline;
	padding-right: 50px;	
}

#menu a {
	text-decoration: none;
	list-style-type: none;
    color: #000;
	font-size: 30px;
	line-height: 50px;
	padding: 5px;	
}

#menu li:hover a {
	color: orange;
	padding: 5px; 
	line-height: 50px;
	border-left: 1px solid black;
	border-right: 1px solid black;
}

a.selected {
	border-left: 1px solid black;
	border-right: 1px solid black;
}

span {
	font-size: 20px;
}
/*===========================SOCIAL ICONS=================*/
.social-icons {
	text-align: center;
	margin: 0 auto;
	margin-bottom: 20px;
	margin-top: 30px;
	padding: 0;
}

.social-icons li {
	display: inline-block;
}

.social-icons a {
	text-decoration: none;
	list-style-type: none;
	padding: 10px;
}

.fa.fa-linkedin-square.social-icons, .fa.fa-github.social-icons {
    margin: 0;
    font-size: 28px;
    color: #000;
}
/*
.social-icons li a:hover img {
	background-color: rgba(0,0,0,0.15);
	border-radius: 50%;
} */
/*=============================MONTHLY ARTICLES=====================*/
.projects {
/*	background: rgba(80, 209, 21, 0.65);
	background-size: 100%; */
	width: 80%;
	height: auto;
	margin: auto;
	border-top: 1px solid black;
/*	border-radius: 5px; */
	padding: 20px;
	margin-top: 40px;
	margin-bottom: 20px;
	text-decoration: none;
	list-style-type: none;
	font-size: 18px;
	line-height: 30px;
	font-family: Helvetica, sans-serif;
    font-weight: lighter;
/*	-webkit-backdrop-filter: invert(18%); */
}

.projects h2 {
	text-shadow: 2px 2px 4px #696969;
	font-family: 'Poiret One', Helvetica, cursive;
}

.projects a {
	color: #696969;
}

.projects2 {
/*	background: rgba(80, 209, 21, 0.65);
	background-size: 100%; */
	width: 80%;
	height: auto;
	margin: auto;
	border-top: 1px solid black;
/*	border-bottom: 1px solid black;
	border-radius: 5px; */
	padding: 20px;
	margin-top: 40px;
	margin-bottom: 20px;
	text-decoration: none;
	list-style-type: none;
	font-size: 18px;
	line-height: 30px;
	font-family: Helvetica, sans-serif;
    font-weight: lighter;
/*	-webkit-backdrop-filter: invert(18%); */
}

.projects2 h2 {
	text-shadow: 2px 2px 4px #696969;
	font-family: 'Poiret One', Helvetica, cursive;
}

.projects2 a {
	color: #696969;
}
/*=============================BODY TEXT===================*/

.introduction {
	text-align: center;	
	width: 80%;
	margin: auto;    
}

.introduction h1 {
	text-shadow: 2px 2px 4px #696969;
	margin-bottom: 15px;
}

.introduction p {
	font-size: 18px;
	font-family: Helvetica, sans-serif;
	font-weight: lighter;
}

.introduction a {
	color: orange;
}

/*======================= SPACER =================*/
.spacer {
	margin: 30px;
}

/*======================== Contact Div ===========*/
.contactMe {
	width: 80%;
	margin: auto;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	padding-top: 50px;
    text-align: center;
    height: 250px;
    background-color: #ed8931;
}

.contactMe h2 {
	color: #fff;
}

i.fa.fa-envelope-o {
	color: #fff;
}

.contactMe a {
	text-decoration: none;
}
/*=========================SCROLL UP================*/
.scrollToTop {
	width: 100px;
	height: auto;
	margin: auto;
	text-align: center;
	margin-top: 50px;
	margin-bottom: 50px;
}

.fa {
	font-size: 50px;
	color: #000;
}

/*==============================FOOTER======================*/

.footer {
	width: 100%;
	height: 70px;
	text-align: center;
	font-size: 15px;
	color: #000;
	margin-top: 20px;
}

.foot a {
    color: #ed8931;
    text-decoration: none;
}

/*============================== IHOVER ===========================*/
.ihover {
	margin-top: 20px;
}

div.ih-item.circle.effect3.left_to_right {
	margin: 0 auto;
}

div.ih-item.circle.effect3.right_to_left {
	margin: 0 auto;
}
