<!DOCTYPE html>
<html lang="en-US">
<head>
<meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1", shrink-to-fit="no">
    
    <title>About</title>

<link rel="stylesheet" href="../static/bootstrap/css/bootstrap.min.css">    
 <link rel="stylesheet" href="../static/font-awesome-4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="../static/css/about.css"> 
    <link href="https://fonts.googleapis.com/css?family=Poiret+One" rel="stylesheet">   
     <link rel="shortcut icon" href="#"/> 
 

</head> 

<body>

<div class="container-fluid">
  <div class="row" id="nav">

  <ul id="menu">  
    <div class="col-sm-3 col-xs-12">
    <li><a href="{{ url_for('index') }}" class="transition">
    <strong><span>code</span>Gizmo</strong>
    </a></li>
    </div>
    
    <div class="col-sm-3 col-xs-12">
    <li><a href="{{ url_for('journal') }}" class="transition">Journal</a></li>
    </div>

    <div class="col-sm-3 col-xs-12">
    <li><a href="{{ url_for('portfolio')}}" class="transition">Portfolio</a></li>
    </div>

    <div class="col-sm-3 col-xs-12">
    <li><a href="{{ url_for('contact') }}" class="transition">Contact</a></li>
    </div>

  </ul>
 </div>
</div>  

<div class="container-fluid">
 <div class="row">
  <div class="col-xs-12">
   <div id="header">

<!--
  <div class="headertext">
    <strong><span>code</span>Gizmo</strong>
  </div>
-->
</div>
</div>
</div>


 <div class="row">
   <div class="col-xs-12">
    <div class="content">
     <h1>ABOUT ME</h1> 
    </div>
   </div>
  </div>
 </div>

 <div class="container-fluid">
 <div class="row">
  <div class="col-xs-12">
   <div class="about">
     <p>I'm Naomi. I am a self taught freelance web developer. I can design, develop and deploy websites and web applications using HTML5, CSS3, Bootstrap, third-party templates, Javascript and Python3. Need a static or dynamic site? I can do both!</p> 

     <p>My focus is on minimalist, sleek design. I create websites I would like to visit and interact with.</p>

     <p>Some of my technical skills...
        <ul>
         <li><strong>Frameworks:</strong> Bootstrap | Flask | Jquery</li>
         <li><strong>Database:</strong> MongoDB | SQL</li>
         <li><strong>Operating Systems:</strong> Mac | Linux</li>
        </ul>
     </p>  

     <p>Some of my additional skills...
        <ul>
          <li>I can configure and deploy sites using cloud based services</li>
          <li>Project collaboration with senior developers</li>
          <li>Reliable | Creative </li>
          <li>I can deliver your project on time</li>  
        </ul>
     </p>

     <p>You can learn about me on <a href="https://linkedin.com/in/naomielisha">Linkedin</a>. Head over to my <a href="{{ url_for('portfolio') }}">Portfolio</a> to see what I can do for you. Have a idea of what you want? I can help. Send me a <a href="{{ url_for('contact') }}">message</a> with your specifics and I will get back to you.</p>

  </div>
 </div>
</div>

<div class="row">
  <div class="col-md-12 col-xs-12">

    <ul class="social-icons">
      <li>
        <a href="https://github.com/Whale67" target="_blank"><img src="../static/images/Octocat.png" /></a>
      </li>
      <li>
       <a href="https://gab.ai/Whale67" target="_blank"><img src="../static/images/frog4.png"></a>
      </li>     
    </ul>

  </div>
</div>

 <div class="row">
 <div class="col-xs-12">
  <div class="contactMe">
   <a href="{{ url_for('contact') }}">
    <h2>Need more information? Have a question? Message Me! <br><br> 
          <i class="fa fa-envelope-o" aria-hidden="true"></i>
    </h2>      
   </a>  
  </div>
 </div>
</div>  
 

<div class="container-fluid">
 <div class="row">
  <div class="col-lg-12 col-xs-12">
   <div class="footer navbar-bottom">
&copy; Copyright 2016 codeGizmo.com All Rights Reserved <a href="https://icons8.com" id="icons8">Icon pack by Icons8</a> <a href="{{ url_for('privacy') }}">Privacy Policy</a>
  </div>
 </div>
</div>     
</div>


<!-- SCRIPT FILES -->

<script   src="https://code.jquery.com/jquery-3.2.1.min.js"   integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="   crossorigin="anonymous"></script> 
  <script src="../static/bootstrap/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script type="text/javascript" src="../static/js/index.js"></script>
      
</body>
</html>
