<!DOCTYPE html>
<html lang="en-US">
<head>
<meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1", shrink-to-fit="no">
    
    <title>About</title>

<link rel="stylesheet" href="../static/bootstrap/css/bootstrap.min.css">    
 <link rel="stylesheet" href="../static/font-awesome-4.7.0/css/font-awesome.min.css">
  <link href="../static/css/ihover.min.css" rel="stylesheet">
   <link rel="stylesheet" href="https://cdn.rawgit.com/konpa/devicon/df6431e323547add1b4cf45992913f15286456d3/devicon.min.css">
   <link rel="stylesheet" type="text/css" href="../static/css/about.css"> 
    <link rel="stylesheet" href="../static/css/divider-text-middle.css">
    <link href="https://fonts.googleapis.com/css?family=Poiret+One" rel="stylesheet">  
      <link rel="shortcut icon" href="#"/> 
 

</head> 

<body>

<div class="container-fluid">
  <div class="row" id="nav">

  <ul id="menu">  
    <div class="col-sm-3 col-xs-12">
    <li><a href="{{ url_for('index') }}" class="transition">
    <strong><span>code</span>Gizmo</strong>
    </a></li>
    </div>
    
    <div class="col-sm-3 col-xs-12">
    <li><a href="{{ url_for('journal') }}" class="transition">Journal</a></li>
    </div>

    <div class="col-sm-3 col-xs-12">
    <li><a href="{{ url_for('portfolio')}}" class="transition">Portfolio</a></li>
    </div>

    <div class="col-sm-3 col-xs-12">
    <li><a href="{{ url_for('contact') }}" class="transition">Contact</a></li>
    </div>

  </ul>
 </div>
</div>  

<div class="container-fluid">
 <div class="row">
  <div class="col-xs-12">
   <div id="header">

<!--
  <div class="headertext">
    <strong><span>code</span>Gizmo</strong>
  </div>
-->
</div>
</div>
</div>


 <div class="row">
   <div class="col-xs-12">
    <div class="content">
     <h1>ABOUT ME</h1> 
    </div>
   </div>
  </div>
 </div>

 <div class="container-fluid">
 <div class="row">
  <div class="col-xs-12">
   <div class="about">
     <p>I'm Naomi. I am a self taught freelance web developer. I can design, develop and deploy websites and web applications using HTML5, CSS3, Bootstrap, third-party templates, Javascript and Python3. Need a static or dynamic site? I can do both!</p> 

     <p>My focus is on minimalist, sleek design. I create websites I would like to visit and interact with.</p>

     <p>Some of my technical skills...

  <div class="row skills">
      <div class="skill-divider" style="text-align:center;">
       <h2 class="divider-style"><span>MARKUP</span></h2></div>
       <div class="col-xs-6 text-center">
        <i class="devicon-html5-plain-wordmark soft-effect"></i>
       </div>
       <div class="col-xs-6 text-center">
        <i class="devicon-css3-plain-wordmark soft-effect"></i>
       </div> 
    </div>

  <div class="row skills">
      <div class="skill-divider" style="text-align:center;">
       <h2 class="divider-style"><span>LANGUAGES</span></h2></div>
       <div class="col-xs-6 text-center">
        <i class="devicon-javascript-plain glass-effect"></i>
       </div>
       <div class="col-xs-6 text-center">
        <i class="devicon-python-plain-wordmark glass-effect"></i>
       </div> 
    </div>

  <div class="row skills">
      <div class="skill-divider" style="text-align:center;">
       <h2 class="divider-style"><span>FRAMEWORKS</span></h2></div>
       <div class="col-xs-4 text-center">
        <i class="devicon-bootstrap-plain-wordmark glass-effect"></i>
       </div>
       <div class="col-xs-4 text-center">
       <i class="devicon-jquery-plain-wordmark glass-effect"></i>
       </div> 
       <div class="col-xs-4 text-center glass-effect">
       <img src="../static/images/flask.png">
       <p><strong>Flask</strong></p>
       </div> 
    </div>

  <div class="row skills">
      <div class="skill-divider" style="text-align:center;">
       <h2 class="divider-style"><span>DATABASES</span></h2></div>
       <div class="col-xs-6 text-center">
        <i class="devicon-mongodb-plain-wordmark glass-effect"></i>
       </div>
       <div class="col-xs-6 text-center">
        <i class="devicon-postgresql-plain-wordmark glass-effect"></i>
       </div> 
  </div>
  
    <div class="row skills">
      <div class="skill-divider" style="text-align:center;">
       <h2 class="divider-style"><span>OPERATING SYSTEMS</span></h2></div>
       <div class="col-xs-6 text-center">
        <i class="devicon-apple-original glass-effect"></i>
        <p><strong>MAC OSX</strong></p>
       </div>
       <div class="col-xs-6 text-center">
        <i class="devicon-linux-plain glass-effect"></i>
        <p><strong>Linux</strong></p>
       </div> 
    </div>

    <div class="row skills">
      <div class="skill-divider" style="text-align:center;">
       <h2 class="divider-style"><span>A FEW EXTRA TECH SKILLS</span></h2></div>
       <div class="col-xs-4 text-center">
        <i class="devicon-github-plain glass-effect"></i>
       </div>
       <div class="col-xs-4 text-center">
        <i class="devicon-git-plain glass-effect"></i>
        <p><strong>Git</strong></p>
       </div> 
       <div class="col-xs-4 text-center">
        <i class="devicon-heroku-plain-wordmark glass-effect"></i>
       </div>
    </div>

    <div class="row skills extra-skills">
      <div class="col-xs-6 text-center">
        <i class="devicon-gimp-plain glass-effect"></i>
      </div>
      <div class="col-xs-6 text-center">
        <i class="devicon-wordpress-plain glass-effect"></i>
      </div>
    </div>

    <div class="spacer"></div>

    <div class="skill-divider" style="text-align:center;">
       <h2 class="divider-style"><span>Check out my <a href="{{ url_for('portfolio') }}">Portfolio</a> to see what I can do for you</span></h2></div>

   </div>
  </div>
 </div>
</div>

<div class="row">
  <div class="col-md-12 col-xs-12">

    <ul class="social-icons">
      <li>
        <a href="https://github.com/Whale67" target="_blank"><i class="fa fa-github social-icons" aria-hidden="true"></i></a>
      </li>
      <li>
       <a href="https://linkedin.com/in/naomielisha" target="_blank"><i class="fa fa-linkedin-square social-icons" aria-hidden="true"></i></a>
      </li>     
    </ul>

  </div>
</div>

 <div class="row">
 <div class="col-xs-12">
  <div class="contactMe">
   <a href="{{ url_for('contact') }}">
    <h2>Need more information? Have a question? Message Me! <br><br> 
          <i class="fa fa-envelope-o" aria-hidden="true"></i>
    </h2>      
   </a>  
  </div>
 </div>
</div>  
 

<div class="container-fluid">
 <div class="row">
  <div class="col-lg-12 col-xs-12">
   <div class="footer navbar-bottom">
&copy; Copyright 2016 codeGizmo.com All Rights Reserved <a href="https://icons8.com" id="icons8">Icon pack by Icons8</a> <a href="{{ url_for('privacy') }}">Privacy Policy</a>
  </div>
 </div>
</div>     
</div>


<!-- SCRIPT FILES -->

<script   src="https://code.jquery.com/jquery-3.2.1.min.js"   integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="   crossorigin="anonymous"></script> 
  <script src="../static/bootstrap/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script type="text/javascript" src="../static/js/index.js"></script>
      
</body>
</html>
