
<!DOCTYPE html>
<html lang="en-US">
<head>
<meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1", shrink-to-fit="no">
    
    <title>Error</title>

<link rel="stylesheet" href="../static/bootstrap/css/bootstrap.min.css">    
 <link rel="stylesheet" href="../static/font-awesome-4.7.0/css/font-awesome.min.css">
   <link rel="stylesheet" type="text/css" href="../static/css/error.css"> 
    <link href="https://fonts.googleapis.com/css?family=Poiret+One" rel="stylesheet">    
     <link rel="shortcut icon" href="#"/> 


</head> 

<body>

<div class="container-fluid">
 <div class="row">
  <div class="col-md-12 col-xs-12">
 <!--  <div class="jumbotron"> -->
   <div class="message">
    <h2>Sad news. Our server had a problem.</h2>
     <br>
    <h3>If you would like, you can head over to <a href="https://github.com/Whale67"><strong>Github</strong></a> or <a href="https://gab.ai/Whale67"><strong>Gab</strong></a> to get in touch. Aloha!</h3>
 <!-- </div> -->  
 </div>
 </div>
</div>



<!-- SCRIPT FILES -->
<script   src="https://code.jquery.com/jquery-3.2.1.min.js"   integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="   crossorigin="anonymous"></script> 
  <script src="../static/bootstrap/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script type="text/javascript" src="../static/js/index.js"></script>

</body>
</html>