<!DOCTYPE html>
<html lang="en-US">
<head>
<meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1", shrink-to-fit="no">
  
  <title>Portfolio</title>
<link rel="stylesheet" href="../static/bootstrap/css/bootstrap.css"> 
 <link rel="stylesheet" href="../static/font-awesome-4.7.0/css/font-awesome.min.css">
  <link href="../static/css/ihover.min.css" rel="stylesheet">
   <link rel="stylesheet" type="text/css" href="../static/css/portfolio_style.css">
    <link rel="stylesheet" href="../static/css/divider-text-middle.css">
    <link href="https://fonts.googleapis.com/css?family=Poiret+One" rel="stylesheet">
     <link rel="shortcut icon" href="#"/> 


</head> 

<body>

<div class="container-fluid" id="portfolio-container">
  <div class="row" id="nav">

  <ul id="menu">  
    <div class="col-sm-3 col-xs-12">
    <li><a href="{{ url_for('index') }}" class="transition">
    <strong><span>code</span>Gizmo</strong>
    </a></li>
    </div>
    
    <div class="col-sm-3 col-xs-12">
    <li><a href="{{ url_for('journal') }}" class="transition">Journal</a></li>
    </div>

    <div class="col-sm-3 col-xs-12">
    <li><a href="{{ url_for('portfolio') }}" class="selected transition">Portfolio</a></li>
    </div>

    <div class="col-sm-3 col-xs-12">
    <li><a href="{{ url_for('contact') }}" class="transition">Contact</a></li>
    </div>

  </ul>
 </div>
</div>

<div class="container-fluid">
 <div class="row">
  <div class="col-xs-12">
   <div id="header">

<!--
  <div class="headertext">
    <strong><span>code</span>Gizmo</strong>
  </div>
-->
</div>
</div>
</div>


<div class="container-fluid">
 <div class="row">
  <div class="col-xs-12">
   <ul class="social-icons">
     <li>
       <a href="https://github.com/Whale67" target="_blank" title="Opens in separate tab!"><img src="../static/images/Octocat.png" /></a>
     </li>
     <li>
       <a href="https://gab.ai/Whale67" target="_blank"><img src="../static/images/frog4.png"></a>
     </li>
    </ul>   
  </div>
 </div>
</div>

<div class="container-fluid">
 <div class="row">
  <div class="col-xs-12">
   <div class="introduction">
     <h1>PORTFOLIO</h1>
      <p>My name is Naomi and I am a Web Developer. If you would like to know more about who I am and what I do, head <a href="{{ url_for('about') }}">here</a>. Otherwise... <br><br> Thanks for checking out my Portfolio. It is constantly growing so be sure to check back often!</p>
   </div>  
  </div>
 </div>  
</div>


<div class="container ihover">
     <!-- Top to bottom-->
<div class="row">
  <div class="col-sm-6">
 
    <!-- normal -->
    <div class="ih-item circle effect3 left_to_right"><a href="https://www.yourhestia.com" target="_blank">
        <div class="img"><img src="../static/images/grayscalekids-small.jpg" alt="img"></div>
        <div class="info">
          <h3>Your Hestia</h3>
          <p>Match and connect <br>web application. Easily<br>adaptable to any match and connect service.</p>
        </div></a></div>
    <!-- end normal -->
 
  </div>
  <div class="col-sm-6">
    <div style="text-align:center;">
       <h2 class="divider-style"><span>I CAN</span></h2></div>
    <!-- colored -->
<!--    <div class="ih-item circle colored effect3 top_to_bottom"><a href="#">
        <div class="img"><img src="images/assets/2.jpg" alt="img"></div>
        <div class="info">
          <h3>Heading here</h3>
          <p>Description goes here</p>
        </div></a></div> -->
    <!-- end colored -->
 
  </div>
</div>
</div>
<!-- end Top to bottom-->

</div>

<div class="container ihover">
    <!-- Top to bottom-->
<div class="row">
  <div class="col-sm-6">
   <div style="text-align:center;">
       <h2 class="divider-style"><span>BUILD</span></h2></div>
 
    <!-- normal -->
 <!--   <div class="ih-item circle effect3 top_to_bottom"><a href="#">
        <div class="img"><img src="images/assets/1.jpg" alt="img"></div>
        <div class="info">
          <h3>Heading here</h3>
          <p>Description goes here</p>
        </div></a></div> -->
    <!-- end normal -->
 
  </div>
  <div class="col-sm-6">
 
    <!-- colored -->
    <div class="ih-item circle effect3 right_to_left"><a href="../Portfolio_Projects/index.html" target="_blank">
        <div class="img"><img src="../static/images/hair.jpg" alt="img"></div>
        <div class="info">
          <h3>Style Aphrodite</h3>
          <p>A full salon site on <br>one page. Take full advantage of the long scroll.</p>
        </div></a></div>
    <!-- end colored -->
 
  </div>
</div>
</div>
<!-- end Top to bottom-->
</div>

<div class="container ihover">
    <!-- Top to bottom-->
<div class="row">
  <div class="col-sm-6">
 
    <!-- normal -->
    <div class="ih-item circle effect3 left_to_right"><a href="#">
        <div class="img"><img src="../static/images/salad.jpg" alt="img"></div>
        <div class="info">
          <h3>Dine Demeter</h3>
          <p>Restaurant site model. <br>Perfect for a locally owned establishment looking to update their image.</p>
        </div></a></div>
    <!-- end normal -->
 
  </div>
  <div class="col-sm-6">
    <div style="text-align:center;">
       <h2 class="divider-style"><span>YOU THIS</span></h2></div>
 
    <!-- colored -->
<!--    <div class="ih-item circle colored effect3 top_to_bottom"><a href="#">
        <div class="img"><img src="images/assets/2.jpg" alt="img"></div>
        <div class="info">
          <h3>Heading here</h3>
          <p>Description goes here</p>
        </div></a></div> -->
    <!-- end colored -->
 
  </div>
</div>
</div>
<!-- end Top to bottom-->
</div>

<div class="container ihover">
    <!-- Top to bottom-->
<div class="row">
  <div class="col-sm-6">
   <div style="text-align:center;">
       <h2 class="divider-style"><span>AND</span></h2></div>
    <!-- normal -->
<!--    <div class="ih-item circle effect3 left_to_right"><a href="#">
        <div class="img"><img src="../static/images/salad.jpg" alt="img"></div>
        <div class="info">
          <h3>Dine Demeter</h3>
          <p>Restaurant site model. <br>Perfect for a locally owned establishment looking to update their image.</p>
        </div></a></div> -->
    <!-- end normal -->
 
  </div>
  <div class="col-sm-6">

    <!-- colored -->
   <div class="ih-item circle effect3 right_to_left"><a href="http://dermatologist-request-13248.bitballoon.com" target="_blank">
        <div class="img"><img src="../static/images/tolkien.jpg" alt="img"></div>
        <div class="info">
          <h3>Tolkien's  Middle Earth</h3>
          <p>A blog site<br> built to focus on <br>a featured topic. *Mockup, not fully functioning.</p>
        </div></a></div> 
    <!-- end colored -->
 
  </div>
</div>
</div>
<!-- end Top to bottom-->
</div>


<!--
<div class="row">
 <div class="col-xs-12">
  <div class="projects">
      <h2>Websites</h2> <br>
        <ul>
          <li><a href="https://yourhestia.com" target="_blank">Your Hestia</a><br>A match and connect website for families and nannies. Integrated a third party front end template with a Flask backend. Opens in a separate tab.</li> <br>

          <li><a href="http://dermatologist-request-13248.bitballoon.com" target="_blank">J.R.R. Tolkien Website</a><br>A unpublished website. It is a work in progress. Experimenting with layout and dropdown menu on the <em>Books</em> page. Some links do not work. Opens in a separate tab.</li> <br>
          
          <li><a target="_blank" href="http://writer-selina-16308.bitballoon.com">A splash page</a><br>Opens in a separate tab.</li> <br>

          <li><a href="http://promoter-norman-16103.bitballoon.com/cart" target="_blank">The Dress Shop</a><br>One page from my "The Dress Shop" website. I played around with CSS to create a detailed footer, sticky social media bar and empty shopping cart. Opens in a separate tab.</li> <br>

        </ul>  
    </div>
   </div>
  </div>

<div class="row">
 <div class="col-xs-12">
  <div class="projects2">
      <h2>Web Applications</h2> <br>
        <ul>
          <li><a href="http://carpenter-bat-13765.bitballoon.com" target="_blank">A Todo List</a><br>A todo list I made in a Udemy code along. I tweaked it a bit, added some different style and prompt to gather user's name. Currently a static application. Opens in a separate tab.</li><br>
        </ul>  
  </div>
 </div>
</div> 
-->
<div class="spacer"></div>

<div style="text-align:center;">
       <h2 class="divider-style"><span>ANYTHING ELSE</span></h2></div>

<div class="spacer"></div>

<div class="container-fluid">
 <div class="row">
  <div class="col-xs-12">
   <div class="scrollToTop" onclick="scrollToTop();return false;">
     <a href="onclick">
       <i class="fa fa-chevron-circle-up" aria-hidden="true"></i>
     </a>
   </div>
  </div>
 </div>

<div class="row">
 <div class="col-xs-12">
  <div class="contactMe">
   <a href="{{ url_for('contact') }}">
    <h2>Need more information? Have a question? Just like sending email? I love getting email! <br><br> 
          <i class="fa fa-envelope-o" aria-hidden="true"></i>
    </h2>      
   </a>  
  </div>
 </div>
</div>  

<div class="row">
 <div class="col-xs-12">
  <div class="footer">
   <p class="foot">&copy; Copyright 2016 codeGizmo.com All Rights Reserved</p> <a href="{{ url_for('privacy') }}">Privacy Policy</a>
    <p class="foot">In case you missed the big colored box above you can contact me <a href="{{ url_for('contact') }}">here</a></p>
  </div>   
 </div>
</div>
</div>

</div>

<script src="https://code.jquery.com/jquery-3.2.1.min.js"   integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="   crossorigin="anonymous"></script>   
  
<script src="../static/bootstrap/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<script type="text/javascript" src="../static/js/index.js"></script>

</body>
</html>