<!DOCTYPE html>
<html lang="en-US">
<head>
<meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1", shrink-to-fit="no">
    
    <title>About</title>

<link rel="stylesheet" href="../static/bootstrap/css/bootstrap.min.css">    
 <link rel="stylesheet" href="../static/font-awesome-4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="../static/css/about.css"> 
    <link href="https://fonts.googleapis.com/css?family=Poiret+One" rel="stylesheet">   
     <link rel="shortcut icon" href="#"/> 
 

</head> 

<body>

<div class="container-fluid">
  <div class="row" id="nav">

  <ul id="menu">  
    <div class="col-sm-3 col-xs-12">
    <li><a href="{{ url_for('index') }}" class="transition">
    <strong><span>code</span>Gizmo</strong>
    </a></li>
    </div>
    
    <div class="col-sm-3 col-xs-12">
    <li><a href="{{ url_for('journal') }}" class="transition">Journal</a></li>
    </div>

    <div class="col-sm-3 col-xs-12">
    <li><a href="{{ url_for('portfolio')}}" class="transition">Portfolio</a></li>
    </div>

    <div class="col-sm-3 col-xs-12">
    <li><a href="{{ url_for('contact') }}" class="transition">Contact</a></li>
    </div>

  </ul>
 </div>
</div>  

<div class="container-fluid">
 <div class="row">
  <div class="col-xs-12">
   <div id="header-privacy">

<!--
  <div class="headertext">
    <strong><span>code</span>Gizmo</strong>
  </div>
-->
</div>
</div>
</div>


 <div class="row">
   <div class="col-xs-12">
    <div class="content">
     <h1>PRIVACY POLICY</h1> 
    </div>
   </div>
  </div>
 </div>

 <div class="container-fluid">
 <div class="row">
  <div class="col-xs-12">
   <div class="about">
     <p>Last updated: July 4, 2017</p>
            <p>codeGizmo ("us", "we", or "our") operates http://www.thecodegizmo.com (the "Site"). This page informs you of our policies regarding the collection, use and disclosure of Personal Information we receive from users of the Site.</p>
            <p>We use your Personal Information only for providing and improving the Site. By using the Site, you agree to the collection and use of information in accordance with this policy.</p>
            <p>While using our Site, we may ask you to provide us with certain personally identifiable information that can be used to contact or identify you. Personally identifiable information may include, but is not limited to your name ("Personal Information").</p>
            <p>Like many site operators, we collect information that your browser sends whenever you visit our Site ("Log Data").</p>
            <p>This Log Data may include information such as your computer's Internet Protocol ("IP") address, browser type, browser version, the pages of our Site that you visit, the time and date of your visit, the time spent on those pages and other statistics.</p>
            <p>We may use your Personal Information to contact you with newsletters, marketing or promotional materials and other information that ...</p>
            <p>Cookies are files with small amount of data, which may include an anonymous unique identifier. Cookies are sent to your browser from a web site and stored on your computer's hard drive.</p>
            <p>Like many sites, we use "cookies" to collect information. You can instruct your browser to refuse all cookies or to indicate when a cookie is being sent. However, if you do not accept cookies, you may not be able to use some portions of our Site.</p>
            <p>The security of your Personal Information is important to us, but remember that no method of transmission over the Internet, or method of electronic storage, is 100% secure. While we strive to use commercially acceptable means to protect your Personal Information, we cannot guarantee its absolute security.</p>
            <p>This Privacy Policy is effective as of July 4, 2017 and will remain in effect except with respect to any changes in its provisions in the future, which will be in effect immediately after being posted on this page.</p>
            <p>We reserve the right to update or change our Privacy Policy at any time and you should check this Privacy Policy periodically. Your continued use of the Service after we post any modifications to the Privacy Policy on this page will constitute your acknowledgment of the modifications and your consent to abide and be bound by the modified Privacy Policy.</p>
            <p>If we make any material changes to this Privacy Policy, we will notify you either through the email address you have provided us, or by placing a prominent notice on our website.</p>

  </div>
 </div>
</div>

<div class="row">
  <div class="col-md-12 col-xs-12">

    <ul class="social-icons">
      <li>
        <a href="https://github.com/Whale67" target="_blank"><i class="fa fa-github social-icons" aria-hidden="true"></i></a>
      </li>
      <li>
       <a href="https://linkedin.com/in/naomielisha" target="_blank"><i class="fa fa-linkedin-square social-icons" aria-hidden="true"></i></a>
      </li>     
    </ul>

  </div>
</div>

 <div class="row">
 <div class="col-xs-12">
  <div class="contactMe">
   <a href="{{ url_for('contact') }}">
    <h2>Need more information? Have a question? Message Me! <br><br> 
          <i class="fa fa-envelope-o" aria-hidden="true"></i>
    </h2>      
   </a>  
  </div>
 </div>
</div>  
 

<div class="container-fluid">
 <div class="row">
  <div class="col-lg-12 col-xs-12">
   <div class="footer navbar-bottom">
&copy; Copyright 2016 codeGizmo.com All Rights Reserved <a href="https://icons8.com" id="icons8">Icon pack by Icons8</a>
  </div>
 </div>
</div>     
</div>


<!-- SCRIPT FILES -->

<script   src="https://code.jquery.com/jquery-3.2.1.min.js"   integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="   crossorigin="anonymous"></script> 
  <script src="../static/bootstrap/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script type="text/javascript" src="../static/js/index.js"></script>
      
</body>
</html>
