<!DOCTYPE html>
<html lang="en-US">
<head>
<meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1", shrink-to-fit="no">
    
    <title>Thank You</title>

<link rel="stylesheet" href="../static/bootstrap/css/bootstrap.min.css">    
 <link rel="stylesheet" href="../static/font-awesome-4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="../static/css/thankyou.css"> 
    <link href="https://fonts.googleapis.com/css?family=Poiret+One" rel="stylesheet">    

</head> 

<body>

<div class="container-fluid">
  <div class="row" id="nav">

  <ul id="menu">  
    <div class="col-sm-3 col-xs-12">
    <li><a href="{{ url_for('index') }}" class="transition">
    <strong><span>code</span>Gizmo</strong>
    </a></li>
    </div>
    
    <div class="col-sm-3 col-xs-12">
    <li><a href="{{ url_for('journal') }}" class="transition">Journal</a></li>
    </div>

    <div class="col-sm-3 col-xs-12">
    <li><a href="{{ url_for('portfolio') }}" class="transition">Portfolio</a></li>
    </div>

    <div class="col-sm-3 col-xs-12">
    <li><a href="{{ url_for('contact') }}" class="transition">Contact</a></li>
    </div>

  </ul>
 </div>
</div>  

<div class="container-fluid">
 <div class="row">
  <div class="col-xs-12">
   <div id="header">

<!--
  <div class="headertext">
    <strong><span>code</span>Gizmo</strong>
  </div>
-->
</div>
</div>
</div>


 <div class="row">
  <div class="col-xs-12">
   <div class="content">
    <h1>Your email is on its way <br>Give me a few days and I will be in touch</h1>
     <hr>  
   </div> 
     <div class="row">
      <div class="col-md-12 col-xs-12">

    <ul class="social-icons">
      <li>
        <a href="https://github.com/Whale67" target="_blank"><img src="../static/images/Octocat.png" /></a>
      </li>
      
      <li>
       <a href="https://gab.ai/Whale67" target="_blank"><img src="../static/images/frog4.png"></a>
      </li>     
    </ul>

     </div>
    </div>
   </div>
  </div>
 </div>
 


<div class="container-fluid">
 <div class="row">
  <div class="col-lg-12 col-xs-12">
   <div class="footer navbar-bottom">
&copy; Copyright 2016 codeGizmo.com All Rights Reserved
  </div>
 </div>
</div>     
</div>


<!-- SCRIPT FILES -->

<script   src="https://code.jquery.com/jquery-3.2.1.min.js"   integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="   crossorigin="anonymous"></script>  
  <script src="../static/bootstrap/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script type="text/javascript" src="../static/js/index.js"></script>
      <script type="text/javascript" src="../static/js/index.js"></script>

</body>
</html>